.container.jumbotron.home
  h2 What is Senti?
  p Senti is an attempt to sentiment analyze tweets.
  br
  h2 How to use
  p To analyze tweets from an individual user search @ followed by the twitter handle (eg: 
    a(ng-click="go('@Malithsen')")@Malithsen
    | )
  p For a general search just search the keywords (eg: 
    a(ng-click="go('Sri Lanka')") Sri Lanka
    | )
  br
  h2 Caveats
  ul
    li Depending on the wording, results might not be accurate.
    li Tweets with no emote are not shown.
    li Due to Twitter API limitations, you're allowed to make limited number of search requests within 15 minutes.
